<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hiep Ta | Front-end Developer & Web Designer | Hanoi, Vietnam</title>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

  <meta name="description" content="Front-end Developer & Web Designer based out of Hanoi, Vietnam">
  <meta name="author" content="Hiep Ta">

  <meta property="og:title" content="Hiep Ta | Front-end Developer, Web Designer | Hanoi, Vietnam"/>
  <meta property="og:url" content="https://henry9.com/"/>
  <meta property="og:description" content="Front-end Developer & Web Designer based out of Hanoi, Vietnam."/>
  <meta property="og:image" content="https://henry9.com/assets/img/screenshot.jpg"/>

	<link rel="icon" href="favicon.ico">

	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- Scripts -->
	<script src="assets/libs/require.js"></script>
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

	<!-- Analytics -->
	<script type="text/javascript">
		
	</script>

</head>
<body class="body--bg-dark">

	<header id="siteHeader" class="site-header site-header--fix-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					<div class="site-header__wrapper">
						<div class="menu">
							<div class="menu__content">
								<div class="menu__single">
									<a href="#" class="menu__link">
										<h3 class="menu__title">About</h3>
										<h6 class="menu__subtitle"><span>Who I Am</span></h6>
									</a>
								</div>
								<div class="menu__single">
									<a href="#" class="menu__link">
										<h3 class="menu__title">Work</h3>
										<h6 class="menu__subtitle"><span>View Case Studies</span></h6>
									</a>
								</div>
								<div class="menu__single">
									<a href="#" class="menu__link">
										<h3 class="menu__title">Contact</h3>
										<h6 class="menu__subtitle"><span>Let's get in touch</span></h6>
									</a>
								</div>
							</div>
						</div>
						<div class="logo">
							<a href="#" class="logo__link">
								<h3 class="logo__title">h9</h3>
							</a>
						</div>
					</div>
						
				</div>
			</div>
		</div>
		<div class="preloader"></div>
	</header>

	<div id="siteBody" class="site-content">
		
		<!-- BEGIN: About more -->
		<section class="section section--resume">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-lg-10 col-lg-offset-1">
						<div class="section__header">
							<div class="section__heading">
								<h1 class="section__heading__title">Resume</h1>
								<h6 class="section__heading__subtitle">Download PDF <br><a href="#">English</a> / <a href="#">Vietnamese</a></h6>
							</div>
						</div>
						<div class="section__content">
							<div class="resume">
								<div class="resume__content">
									<div class="resume__content__left-col">
										<div class="resume__avatar">
											<div class="rectangle">
												<div class="rectangle__inner bg-cover"></div>
											</div>
										</div>
										<h1 class="resume__title">Ta Quang Hiep</h1>
										<div class="resume__info">
											henry9.com <br> contact@henry9.com <br> (+84) 98 456 0269 <br> Hanoi, Vietnam
										</div>
										<hr>
									</div>
									<div class="resume__content__right-col">
										<div class="resume__category">
											<h2 class="resume__heading">Profile</h2>
											<div class="resume__position__content">
												<p>Award winning front-end developer with more than a decade of experience building pixel perfect websites. Recent contributor to Smashing Magazine. Nominated for a Webby and AGDA design award with portfolio featured on Awwwards as “Site of the Day”. Flexible in working environments having positioned for startups, digital agencies, and fortune 500 companies. Focused on helping agile teams with UI development for large scale CMS websites or client-side web apps.</p>
											</div>
										</div>
										<hr>
										<div class="resume__category">
											<h2 class="resume__heading">Work experience</h2>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">iShopGo</h4>
													<h6 class="resume__position__role">Web Designer, Front-end Developer <span class="mx-8">|</span> Jun 2017 - Oct 2018</h6>
												</div>
												<div class="resume__position__content">
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
												</div>
											</div>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">Ez4home</h4>
													<h6 class="resume__position__role">Co-founder <span class="mx-8">|</span> Front-end Developer <span class="mx-8">|</span> Dec 2014 -  Apr 2017</h6>
												</div>
												<div class="resume__position__content">
													<p>Co-founder of Ez4home, the marketplace for homeowners, architects and household suppliers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
												</div>
											</div>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">Henry9</h4>
													<h6 class="resume__position__role">UI Designer and Developer <span class="mx-8">|</span> 2013 - Present</h6>
												</div>
												<div class="resume__position__content">
													<p>Worked with digital agencies, startups, and companies on projects ranging from UI design, front-end maintenance, Wordpress theme development, and more.</p>
													<ul class="resume__list-inline clearfix">
														<li>iCheck</li>
														<li>VIJA Link</li>
														<li>Autism 365</li>
														<li>iTro</li>
														<li>Fitme</li>
														<li>Banyan Restanrant</li>
														<li>MediWhite</li>
														<li>GCI Vietnam</li>
													</ul>
												</div>
											</div>
										</div>
										<hr>
										<div class="resume__category">
											<h2 class="resume__heading">Education</h2>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">University of Engineering & Technology - VNU</h4>
													<h6 class="resume__position__role">2012 - 2017</h6>
												</div>
												<div class="resume__position__content">
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
												</div>
												
											</div>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">Web Development and UI Design - Bach Khoa Aptech</h4>
													<h6 class="resume__position__role">2013</h6>
												</div>
												<div class="resume__position__content">
													<p>Solid understanding of Website and Application design principles.</p>
												</div>
											</div>
										</div>
										<hr>
										<div class="resume__category">
											<h2 class="resume__heading">Technical Expertise</h2>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">Professional Skillsets</h4>
												</div>
												<div class="resume__position__content">
													<ul>
														<li>W3C Validated HTML</li>
														<li>CSS3 with BEM via Sass/Less</li>
														<li>JavaScript (jQuery, Ajax, JSON)</li>
													</ul>
												</div>
											</div>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">Working Knowledge</h4>
												</div>
												<div class="resume__position__content">
													<ul>
														<li>Strongly understand of responsive design, web animation and user experience optimization.</li>
														<li>Build & custom high-quality cross-browser templates from design or mockup.</li>
														<li>Familiar with Bootstrap 3/4, Foundation and Sass with Compass.</li>
														<li>Working with Wordpress.</li>
														<li>Recently started learning JavaScript frameworks (React, Vue).</li>
													</ul>
												</div>
											</div>
											<div class="resume__position">
												<div class="resume__position__header">
													<h4 class="resume__position__title">Tools</h4>
												</div>
												<div class="resume__position__content">
													<ul>
														<li>Adobe Photoshop</li>
														<li>Github / Bitbucket</li>
														<li>Atom / Sublime Text</li>
													</ul>
												</div>
											</div>
										</div>
										<hr>
										<div class="resume__category">
											<h2 class="resume__heading">Awards & Recognition</h2>
											<div class="resume__position__content">
												<ul>
													<li>Top 5 APEC SME Programs <br><small class="color-grey-600">Ez4home<span class="mx-8">|</span>Lima, Peru - Oct 2016</small></li>
													<li>Top 10 Vietnam Silicon Valley <br><small class="color-grey-600">Ez4home<span class="mx-8">|</span>Boston, US - Apr 2016</small></li>
													<li>Top 5 VietChallenge <br><small class="color-grey-600">Ez4home<span class="mx-8">|</span>Hanoi, Vietnam - Apr 2016</small></li>
													<li>2nd Prize at Samsung App Contest<br><small class="color-grey-600">Push Up (Android App)<span class="mx-8">|</span>Team of 3<span class="mx-8">|</span>Hanoi, Vietnam - 2015</small></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="resume__footer">
									<i>Resume updated on Oct 2018. For lastest version and project details, please visit <u>henry9.com</u></i>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: About more -->

	</div>

	<footer id="siteFooter" class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					<div class="site-footer__wrapper">
						<div class="site-footer__copyright">Content written, website designed and built by Hiep Ta <span class="content-divider">|</span> 2018 <span class="copyright-symbol">&copy;</span> henry9.com.</div>
						<div class="site-footer__people">Thanks to these <a href="#" class="people__link"><b>Special People</b></a> who’ve helped me along the way.</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="assets/libs/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		$(document).ready(function(){
			// Contact GIF

			// Preload
			// $.preloadImages = function() {
			//   for (var i = 0; i < arguments.length; i++) {
			//     $("<img />").attr("src", arguments[i]);
			//   }
			// }
		 //  if($(window).width() > 768) {
			// 	$.preloadImages(
			// 		"assets/img/gif/contact-gif-01.gif", 
			// 		"assets/img/gif/contact-gif-02.gif", 
			// 		"assets/img/gif/contact-gif-03.gif", 
			// 		"assets/img/gif/contact-gif-04.gif", 
			// 		"assets/img/gif/contact-gif-05.gif", 
			// 		"assets/img/gif/contact-gif-06.gif", 
			// 		"assets/img/gif/contact-gif-07.gif"
			// 	)
			// };

			// Change on hover
			var gif_counter = 1;
			var gif_mess = [
				"thanks for visiting <br> my website",
				"and don't hesitate",
				"to say hello",
				"drop me a line",
				"i'll get back to you <br> right away",
				"can't wait to work <br>  with you",
				"or we can go <br> drink sometimes",
				"wanna see more, click the links below"
			];

			$(".contact-gifs").hover(
				function(){
					var backgroundImageUrl = "contact-gif-0" + gif_counter + ".gif";
					$("#gifImage").css("backgroundImage", "url('assets/img/gif/" + backgroundImageUrl + "')");
					$("#gifOverlay").addClass("active");
					$("#gifMess").html(gif_mess[gif_counter-1]);
				},
				function(){
					// $("#gifImage").css("backgroundImage", "none");
					// $("#gifOverlay").removeClass("active");
					// $("#gifMess").html("");
					gif_counter++;
					if(gif_counter > 8){
						gif_counter = 1;
					}
				}
			);
		});
	</script>
	
</body>

</html>