<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hiep Ta | Front-end Developer & Web Designer | Hanoi, Vietnam</title>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

  <meta name="description" content="Front-end Developer & Web Designer based out of Hanoi, Vietnam">
  <meta name="author" content="Hiep Ta">

  <meta property="og:title" content="Hiep Ta | Front-end Developer, Web Designer | Hanoi, Vietnam"/>
  <meta property="og:url" content="https://henry9.com/"/>
  <meta property="og:description" content="Front-end Developer & Web Designer based out of Hanoi, Vietnam."/>
  <meta property="og:image" content="https://henry9.com/assets/img/screenshot.jpg"/>

	<link rel="icon" href="favicon.ico">

	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- Scripts -->
	<script src="assets/libs/require.js"></script>
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

	<!-- Analytics -->
	<script type="text/javascript">
		
	</script>

</head>
<body class="body--bg-light">

	<header id="siteHeader" class="site-header site-header--fix-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					<div class="site-header__wrapper">
						<div class="menu">
							<div class="menu__content">
								<div class="menu__single">
									<a href="#" class="menu__link">
										<h3 class="menu__title">About</h3>
										<h6 class="menu__subtitle"><span>Who I Am</span></h6>
									</a>
								</div>
								<div class="menu__single">
									<a href="#" class="menu__link">
										<h3 class="menu__title">Work</h3>
										<h6 class="menu__subtitle"><span>View Case Studies</span></h6>
									</a>
								</div>
								<div class="menu__single">
									<a href="#" class="menu__link">
										<h3 class="menu__title">Contact</h3>
										<h6 class="menu__subtitle"><span>Let's get in touch</span></h6>
									</a>
								</div>
							</div>
						</div>
						<div class="logo">
							<a href="#" class="logo__link">
								<h3 class="logo__title">h9</h3>
							</a>
						</div>
					</div>
						
				</div>
			</div>
		</div>
		<div class="preloader"></div>
	</header>

	<div id="siteBody" class="site-content">
		
		<!-- BEGIN: About more -->
		<section class="section section--bio">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-lg-10 col-lg-offset-1">
						<div class="bio">
							<div class="bio__photos">
								<div class="row">
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="bio__photos__single-photo">
											<div style="background-image: url('')"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="bio__content clearfix">
								<div class="bio__content__row clearfix">
									<div class="bio__content__image-01">
										<img src="https://via.placeholder.com/800x600" alt="">
									</div>
									<h1>More 'bout me</h1>
									<p>I’m 24, have married for 5 years, have two daughters until now and planning to make a couple more. Currently work as IT developer by day and stripper at clubs by night to support the family.</p>
									<p>Nah just kidding. Still single. And just a developer.</p>
								</div>
								<div class="bio__content__row clearfix">
									<p></p>
								</div>
								<div class="bio__content__row clearfix">
									<p>I love dogs and love to take good care of them. In this photo, the black Vietnamese dude names Si and yellow-white guy names Tin. We live together and I can say those mates are pretty cool. Aside from working hours, I walk them every night, take street photos from time to time, try hard to go to the gym regularly, have a crush on the “Phở” and “Bún đậu”, and I find time to make trips to other cities in the world every year.</p>
								</div>
								<div class="bio__content__row bio__content__row--no-flex">
									<p>Thank you for reaching this far, and you know a lot about me now. Scroll down a little more, there’re something below.</p>
								</div>
							</div>
							<div class="bio__gif">
								<div class="contact-gifs">
									<div id="gifHoverNote" class="text-note">hover here</div>
									<div id="gifImage" class="bg-gif bg-cover"></div>
									<div id="gifOverlay" class="bg-texture-overlay"></div>
									<div id="gifMess" class="text-message"></div>
								</div>
							</div>
							<div class="bio__menu">
								<a href="#">view my resume</a>
								<span>/</span>
								<a href="#">take a look at my works</a>
								<span>/</span>
								<a href="#">contact me</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: About more -->

	</div>

	<footer id="siteFooter" class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					<div class="site-footer__wrapper">
						<div class="site-footer__copyright">Content written, website designed and built by Hiep Ta <span class="content-divider">|</span> 2018 <span class="copyright-symbol">&copy;</span> henry9.com.</div>
						<div class="site-footer__people">Thanks to these <a href="#" class="people__link"><b>Special People</b></a> who’ve helped me along the way.</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="assets/libs/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		$(document).ready(function(){
			// Contact GIF

			// Preload
			// $.preloadImages = function() {
			//   for (var i = 0; i < arguments.length; i++) {
			//     $("<img />").attr("src", arguments[i]);
			//   }
			// }
		 //  if($(window).width() > 768) {
			// 	$.preloadImages(
			// 		"assets/img/gif/contact-gif-01.gif", 
			// 		"assets/img/gif/contact-gif-02.gif", 
			// 		"assets/img/gif/contact-gif-03.gif", 
			// 		"assets/img/gif/contact-gif-04.gif", 
			// 		"assets/img/gif/contact-gif-05.gif", 
			// 		"assets/img/gif/contact-gif-06.gif", 
			// 		"assets/img/gif/contact-gif-07.gif"
			// 	)
			// };

			// Change on hover
			var gif_counter = 1;
			var gif_mess = [
				"thanks for visiting <br> my website",
				"and don't hesitate",
				"to say hello",
				"drop me a line",
				"i'll get back to you <br> right away",
				"can't wait to work <br>  with you",
				"or we can go <br> drink sometimes",
				"wanna see more, click the links below"
			];

			$(".contact-gifs").hover(
				function(){
					var backgroundImageUrl = "contact-gif-0" + gif_counter + ".gif";
					$("#gifImage").css("backgroundImage", "url('assets/img/gif/" + backgroundImageUrl + "')");
					$("#gifOverlay").addClass("active");
					$("#gifMess").html(gif_mess[gif_counter-1]);
				},
				function(){
					// $("#gifImage").css("backgroundImage", "none");
					// $("#gifOverlay").removeClass("active");
					// $("#gifMess").html("");
					gif_counter++;
					if(gif_counter > 8){
						gif_counter = 1;
					}
				}
			);
		});
	</script>
	
</body>

</html>